body,
html {
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: "Helvetica Neue", serif;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    background-color: black;
    text-align: center;
    color: white;
}

header > * {
    margin: 10px;
}

header img {
    border-radius: 30px;
    position: absolute;
    left: 0;
}

header h1 {
    display: inline-block;
    height: 60px;
    line-height: 60px;
}

header nav {
    height: 60px;
    position: absolute;
    right: 0;
    top: 0;
}

nav a {
    color: white;
}

nav ul {
    margin: 1.2rem;
}

nav li {
    display: inline;
    margin-right: 20px;
}

main {
    margin-top: 80px;
}

main > * {
    padding: 40px 100px;
}

#description {
    background-color: #ccc;
}

#description img {
    float: left;
    width: 40%;
    margin: 0 10px 10px 0;
}

#description .description-p2 {
    clear: both;
}

#relationship {
    background-color: #fff;
}

#relationship img {
    float: right;
    width: 40%;
    margin: 0 0 10px 10px;
}

footer {
    clear: both;
    height: 80px;
    background-color: #ccc;
    line-height: 80px;
    text-align: center;
}